@charset "UTF-8";


div.container {
   display: flex;
   align-items: center;
   justify-content: center;
}

div#azul {
    background-color: blue;
}

div#vermelho {
    background-color: red;
}

div#roxo {
    background-color: purple;
}
